<div class="aos-section">
<div class="gradient-circle" >
  <img src="https://cdn.shopify.com/s/files/1/0769/8884/2265/files/Rectangle_625.svg?v=1696887933" data-aos="fade-up" data-aos-delay="500">
  <div class="left-bottle" data-aos="fade-right"><img src="https://cdn.shopify.com/s/files/1/0769/8884/2265/files/Pngtree_realistic_cosmetic_tubes_vector_5884875_2.svg?v=1696887934"></div>
<div class="right-bottle" data-aos="fade-left" data-aos-delay="300"><img src="https://cdn.shopify.com/s/files/1/0769/8884/2265/files/Pngtree_realistic_cosmetic_tubes_vector_5884875_1.svg?v=1696887934"></div>

  <div class="left-content" data-aos="fade-right" data-aos-delay="500">
  <img src="https://cdn.shopify.com/s/files/1/0769/8884/2265/files/Group_3.svg?v=1696887933">
  <span>Lorem ipsum sit <br> <i>Dolor Amet</i></span>
</div>
<div class="right-content" data-aos="fade-left" data-aos-delay="500"> 
 <span>Lorem ipsum dolor sit amet consectetur. A massa ultricies sollicitudin eu ipsum dignissim neque gravida lorem. Eget sit lectus nisl mi turpis ultricies eget. </span>
<a href="#">LABEL</a>
</div>
  <div class="text-with-bigdot" data-aos="fade-up" data-aos-delay="500">
  <span>Lorem ipsum <br> to <i>Dolor!</i></span>
</div>


</div>
</div>

{% schema %}
  {
    "name": "Animated Section",
    "settings": [],
    "presets":[
      {
      "name": "Animated Section"
    }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}